
<div class="container">
  <div class="details" *ngIf="user$ |async as user" >
    <div class="d-flex">
      <img  src="{{ user.avatar_url }}" class="avatarImg">
      <div class="user-info d-flex">
        <div class="d-flex fd-column">
            <h3 class="name" >Name: {{user.name}} </h3>
            <h3 > ID: {{user.id}} </h3>
        </div>
        <div class="d-flex fd-column ">
            <h3>Sinse: {{user.created_at}}</h3>
            <h3>From: {{user.location}}</h3>
        </div>
        
      </div>
    </div>
   
    <div class="followers-info d-flex">
      <button class="btn btn-primary" 
              (click)="onGetFollowers()">Followers : {{user.followers}} </button>
      <button class="btn btn-success">Following : {{user.following}} </button> 
      <button class="btn btn-danger">Repository : </button> 
    </div>
    <hr>
    <div class="followers-list">
      <button class="btn btn-primary ta-right" *ngIf="followers" >X</button>
      <mat-list *ngFor="let follower of followers">
        <mat-list-item  >
          <img matListAvatar src="{{ user.avatar_url }}" alt="...">
          <h3 matLine> {{user.name}} </h3>
        </mat-list-item>
      </mat-list>
    </div>
   
  </div>
  
</div>
